<div class="container">
  <form id="searchRooms" [formGroup]="searchForm">
    <div class="row">
      <div class="col-3 form-group">
        <label for="initDate">Initial date: </label><input id="initDate" type="date" class="form-control" formControlName="initDate" name="initDate" placeholder="Initial Date">
      </div>
        <div class="col-2 form-group">
          <label for="initialHour">Initial hour: </label><input id="initialHour" name="initialHour" class="form-control" type="number" formControlName="initialHour" placeholder="Initial Hour ">
        </div>
        <div class="col-2 form-group">
          <label for="hours">Hours: </label><input id="hours" name="hours" class="form-control" type="number" formControlName="hours"  placeholder="Hours">
        </div>
        <div class="col-2 form-group">
          <label for="location">Location: </label><input id="location" name="location" class="form-control" type="text" formControlName="hours" placeholder="Location">
        </div>
        <div class="col-2 form-group">
          <button color="primary" (click)="searchRooms()" name="search">
            <mat-icon>search</mat-icon>
          </button>
        </div>
    </div>
  </form>
</div>
<div class="container">
  <table class="table table-striped">
    <tr>
      <th>Hotel</th>
      <th>Foto Habitacion</th>
      <th>Codigo Habitacion</th>
      <th>Ubicacion</th>
      <th>Tipo</th>
      <th>Precio Hora</th>
    </tr>
    <tr>
    <tr *ngFor="let Room of rooms; let i = index" routerLink="/{{i}}">
      <td>{{Room.nombreHotel}}</td>
      <img src="{{Room.fotoHabitacion}}">
      <td>{{Room.codigoHabitacion}}</td>
      <td>{{Room.ubicacion}}</td>
      <td>{{Room.tipoHabitacion}}</td>
      <td>{{Room.precioHora}}</td>
    </tr>
  </table>
</div>
